In [1]:
#load the model
import pickle
lodded_model = pickle.load(open('/Users/cosmos/Desktop/ME/Projects/shstra/models/random_search_best.sav','rb'))

#results = lodded_model.score(X_test, y_test)
#print(results)

In [2]:
import pandas as pd
import re
data = pd.read_csv('/Users/cosmos/Desktop/ME/Projects/shstra/kick-off/FIFA_test_player_data.csv')
#test_ids = pd.read_csv('/Users/cosmos/Desktop/ME/Projects/Datasets/kick-off/FIFA_test.csv')
test_ids = pd.read_csv('/Users/cosmos/Desktop/ME/Projects/shstra/final_PP_data.csv')
test_ids

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10
0,0,238577,189730,212616,209729,246565,233090,8631,216047,196143,247728,238577
1,1,227675,177793,199511,204387,199964,244727,176619,169181,207734,211840,227675
2,2,199522,225810,227740,243139,229771,183475,198970,170084,180403,240904,199522
3,3,223953,222399,231307,196143,212814,244794,208335,173305,160179,142721,223953
4,4,53110,229137,213887,179891,228595,211736,243305,228886,212000,233276,53110
...,...,...,...,...,...,...,...,...,...,...,...,...
1457,1457,239090,227770,211245,233085,232017,222428,163761,206134,226122,239845,239090
1458,1458,220994,231733,205340,240738,241743,239402,233804,226051,184376,245062,220994
1459,1459,228419,224344,222599,210690,209440,231131,186745,237726,239189,237590,228419
1460,1460,205496,223306,210007,232110,192641,237764,206053,181318,224509,213092,205496
1461,1461,227767,239049,240282,234383,192188,189944,243222,252542,194171,198861,227767

In [35]:
player_attributes_df = pd.read_csv("f.csv", index_col=0)
#player_attributes_df.drop(['player_url','short_name','preferred_foot','nation_position','dob','long_name',"nationality", "club", "player_positions", "work_rate", "body_type", "real_face",'loaned_from','nation_jersey_number', "player_tags",'team_position','joined','contract_valid_until','player_traits'],1,inplace=True)
#player_attributes_df = player_attributes_df[skills_cols]

In [57]:
for i in range (len(skills_cols)):
    player_attributes_df[skills_cols[i]]=pd.to_numeric(player_attributes_df[skills_cols[i]])
    #i+1

ValueError: Unable to parse string "86+1" at position 6

In [49]:
#can play with work rate
skills_cols = ['age',
 'height_cm',
 'weight_kg',
 'overall',
 'potential',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle']


# making a custom transformer

from sklearn.base import BaseEstimator, TransformerMixin

class CustomTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, Columns):
        self.Columns=Columns
        
    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        New_X=X.copy()
        New_X=New_X[self.Columns].copy()
        return New_X

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler #standirize values
from sklearn.impute import SimpleImputer #fill in missing values

#adding parameters
pipeline=Pipeline([
    ('custom_tr', CustomTransformer(skills_cols)),
    ('imputer',SimpleImputer(strategy='median')),
    ('std_scaler',StandardScaler())
])


X = pipeline.fit_transform(data)
y = data['value'].copy()
y = y.values/1000000

In [ ]:
results = lodded_model.score(X_test, y_test)
print(results)